extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href="/profesores/view") Profesores
    li 
      a(href="/materias/view") Materias 
    li 
      a(href="/eventos/view") Eventos
